.git
.idea
.venv
*.pt
*.csv
*.jpeg
*.png
*.jpg
*.zip
*.out
__pycache__
notebooks/3 TEXT RECOGNIZER/seq2seq_model_checkpoints
notebooks/2 TEXT DETECTOR/yolov8l.pt
notebooks/2 TEXT DETECTOR/yolov8n.pt
reports/pobed_pred.csv
notebooks/6 SEGMENTER TEST/best.pt
notebooks/6 SEGMENTER TEST/yolov8n-seg.pt
notebooks/6 SEGMENTER TEST/yolov8n.pt
notebooks/6 SEGMENTER TEST/seg_test
data/processed/4 Segmenter test/text_recognizer
data/processed/4 Segmenter test/text_segmenter
data/raw/__MACOSX
data/raw/14
data/raw/Распознавание текстов
data/raw/target_markup
models/recognizer/trocr_ru_pretrain_3epoch
runs/segment
